* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 40px;
  color: royalblue!important;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999999!important;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-size: 20px;
  color: #000000!important;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A!important;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999!important;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999!important;
  line-height: 16px;
  float: right;

}

.course-text{
   float: none;
}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: royalblue!important;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  font-weight: 500;
}

.welcome-message {
  font-style: italic;
  font-size: 16px;
  font-weight: 500;
  color: #F3F3F3!important;
  line-height: 28px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#skillsH3 {
  color: #bce8f1!important;
  display: none;
}

#skills{
  float: left;
}

.orange {
  background-color: #F5AE23!important;
}

.orange-text {
  color: #F5AE23!important;
}

.white-text {
  font-weight: bold;
  color:#FFFFFF!important;
  font-size: inherit!important;
}


.gray {
  background-color: #F3F3F3!important;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4A4A4A!important;
}


.contactLogo{
  height: 50px;
}


.panelLogo{
  margin-top: -40px;
  margin-left: -28px;
  height: 50px;
}


.role-span{
   margin-left: 10px;
   font-weight: 500;
}


/* TODO: Replace with image later */
#main-header{
  margin-top: 110px;
  background-color: #01bacb!important;
}


.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}


.skills-flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}


.center-content {
  padding-left: 5%;
  padding-right: 5%;
}


#top-header {
	background-color: white;
  z-index: 999;
}


.scroll-a {
	cursor: pointer;	
}

.nav-ul{
  float: right;
}


.nav-ul li{
  float: right;
  padding-left: 20px;
  height: 50px;
}


.top-header-content {
   padding-top: 2.5%;
}

.main-header-content {
  padding-bottom: 2.5%;
  background-color: antiquewhite;
}


#main-header-left{
  width: 40%;
}


#main-header-right{
  width: 100%;
}


ul {
  list-style-type: none;
}


.biopic {
  float: left;
  padding: 10px;
  width: 300px;
  border-radius: 50%;
  margin-top: 50px;
}


img {
  padding: 10px;
}


.header-list{
  width: 800px;
  float: right;
}


.contact-list{
  float:right;
  padding: 20px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: -40px;
}


.contact-item{
  padding-top: 15px;
}


.welcome-Msg{
  float: left;
  width: 700px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}


.detailed-msg{
  font-size:  16px;
  color: #F3F3F3!important;
  font-style: italic;
  font-weight: 500;
  margin-top: -23px;
  margin-left: 30px;
  line-height: 25px;
}


.skills-label{
  margin-bottom: -20px;
  float: left;
}

.skill-item{
  padding: 5px;
}


.skills-h3{
  font-size: 16px;
  color: #F3F3F3!important;
}


.fixed {
  position: fixed;
  top:0; 
  left:0;
  width: 100%; 
  margin: 0px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}


span {
  padding: 5px;
}


#letsConnect {
  text-align: center;
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 500px;
  width: 100%;
  padding-bottom: 5%;
}


.project-entry img {
  max-width: 240px;
  max-width: 240px;
  border: 1px solid #D7D3D3;
  margin: 10px;
  width: 100%;
  height: 150px;
}


#xaxis .domain {
		fill:none;
		stroke:#000;
}


#xaxis text, #yaxis text {
		font-size: 12px;
}

/*
* Media
*/

@media only screen and (min-width: 1550px){
 .welcome-Msg {
   width: 800px;
 }
}

@media only screen and (min-width: 1191px) and (max-width: 1253px) {
 .welcome-Msg,
 .skills-label {
   width: 500px;
 }
}


@media only screen and (min-width: 968px) and (max-width: 1190px) {
  .welcome-Msg,
  .skills-label {
    width: 470px;
  }
}

@media only screen and (min-width: 914px) and (max-width: 967px) {
  .welcome-Msg,
  .skills-label {
    width: 450px;
  }
}

@media only screen and (min-width: 875px) and (max-width: 913px) {
  .welcome-Msg,
  .skills-label {
    width: 450px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 874px) {
  .welcome-Msg,
  .skills-label {
    width: 435px;
  }
}

@media only screen and (min-width: 750px) and (max-width: 799px) {
  .welcome-Msg,
  .skills-label {
    width: 435px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 749px) {
  .welcome-Msg, 
  .skills-label {
    width: 559px;
  }
}

@media only screen and (min-width: 657px) and (max-width: 699px) {
  .welcome-Msg, 
  .skills-label {
    width: 520px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 656px) {
  .welcome-Msg, 
  .skills-label {
    width: 505px;
  }
}

@media only screen and (min-width: 588px) and (max-width: 639px) {
  .welcome-Msg{
    width: 458px;
  }
}

@media only screen and (min-width: 565px) and (max-width: 639px) {
  .welcome-Msg{
    width: 408px;
  }
}

@media only screen and (min-width: 523px) and (max-width: 564px) {
  .welcome-Msg{
    width: 400px;
  }
}

@media only screen and (min-width: 490px) and (max-width: 522px) {
  .welcome-Msg{
    width: 370px;
  }
}

@media only screen and (min-width: 449px) and (max-width: 488px) {
  .welcome-Msg{
    width: 330px;
  }
}

@media only screen and (max-width: 448px) {
  .welcome-Msg{
    width: 285px;
  }
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (min-width:916px) and (max-width: 950px) {
  .biopic {
    width: 275px;
  }
} 
  
@media only screen and (min-width:870px) and (max-width: 915px) {
  .biopic {
    width: 265px;
  }
} 

@media only screen and (min-width:850px) and (max-width: 869px) {
  .biopic {
    width: 235px;
  }
}

@media only screen and (min-width:800px) and (max-width: 849px) {
  .biopic {
    width: 208px;
  }
}  


@media only screen and (min-width:700px) and (max-width: 799px) {
  .biopic {
    width: 165px;
  }
}


@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }

  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 550px) and (max-width: 650px){
  .biopic {
    width: 275px;
  }
}


@media only screen and (min-width: 651px) and (max-width: 750px){
  .biopic {
    width: 320px;
  }
}


@media only screen and (max-width: 750px) {
  #topContacts{
    margin-right: 20px;
  }
  
  .contact-item{
    margin-right: 25px;
  }
}

@media only screen and (min-width: 1120px) {
  #skillsH3,
  .biopic {
    width: 356px;
  }
}

@media only screen and (min-width: 870px) and (max-width: 1009px) {
  #skills {
    width: 575px;
    float: right;
    margin-top: -35px;
  }
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 30px;
  }
}


@media only screen and (min-width: 450px) and (max-width: 500px) {
  h1 {
    font-size: 18px;
  }
  
  .detailed-msg{
    font-size: 14px;
  }
  
  .contact-list{
    margin-right: 60px;
    padding: 0px;
    margin-top:  10px;
  }
  
  #skills{
    width: 200px;
  }
  
  .welcome-Msg{
    width: 300px;
  }
  
  .skills-label{
    width: 200px;
    float: left;
    margin-left: 20px;
  } 
  
  .biopic{
    width: 250px;
  }
}

@media only screen and (max-width: 700px){
  .nav-ul{
    display: none;
  }
  
  h1{
    font-size: 24px;
  }
}

@media only screen and (min-width: 701px) and (max-width: 999px){
  h1{
    font-size: 26px;
  }
}

@media only screen and (min-width: 1250px){
  .skills-label{
    width: 700px;
  }
}

@media only screen and (min-width: 790px) and (max-width: 960px){
  #wrapper svg{
    width: 700px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 789px){
  #wrapper svg{
    width: 600px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 699px){
  #wrapper svg{
    width: 450px;
  }
}

@media only screen and (max-width: 549px){
  #wrapper svg{
    width: 350px;
  }
}

@media only screen and (min-width: 351) and (max-width: 400px){
  .contact-item{
    margin-right: 10px;
  }
  
  #bars text{
    display: none;
  }
}

@media only screen and (max-width: 350px){
  .contact-item{
    margin-right: -2px;
    margin-bottom: -16px;
  }
  
  .welcome-Msg{
    width: 220px;
    margin-top: -14px;
  }
  
  .detailed-msg{
    margin-left: 16px;
    font-size: 14px;
  }
  
  h1{
    font-size: 21px;
  }
  
  .biopic{
    width: 160px;
    margin-left: 63px;
    margin-top: 75px;
  }
  
  #topContacts{
    margin-left: 0px;
    flex-direction: row;
    margin-top: -265px;
  }
  
  .skills-flex-box{
    flex-direction: row;
  }
  
  h1{
    font-size: 20px;
  }
  
  .skills-h3{
    font-size: 17px;
  }
}


@media only screen and (min-width: 351px) and (max-width: 450px){
  .biopic{
    width: 160px;
  }
  
  .contact-item{
    margin-right: -6px;
  }
  
    h1{
    font-size: 20px;
  }
  
    
  .skills-flex-box{
    flex-direction: row;
  }
  
  .welcome-Msg{
    margin-top: -14px;
  }
}






